.base {
  width: 100%;
  background-color: var(--background);
  border: var(--border-width) solid var(--outline);
  color: var(--secondary-text);
  &:focus {
    color: var(--primary-text);
  }

  @apply rounded-lg p-[12px] focus:ring-1 focus:ring-[var(--primary)]  data-[error="true"]:ring-1 data-[error="true"]:ring-[var(--error)];

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

.currency {
  display: grid;
  align-items: center;
  i {
    grid-area: 1/1;
    pointer-events: none;
    width: min-content;
    padding-left: 12px;
    text-align: center;
    font-style: normal;
    color: inherit;
  }
  input {
    grid-area: 1/1;
    padding-left: 25px;
    padding-right: 0;
  }
}
