.share {
  @apply flex flex-col gap-4 p-[10px] md:px-0 md:py-4 max-w-md mx-auto;
}

.toggleHeader {
  @apply text-2xl px-4 my-8 font-medium mx-auto;
}

.buttonGroup {
  @apply p-4 grid grid-cols-2;
}

.toggleGroup {
  color: var(--secondary-text);
  @apply flex font-medium text-base px-4;
}

.toggleButton {
  border: var(--border-width) solid var(--outline);

  @apply py-[14px] px-4 w-full last:border-l-0 transition-colors;
  &.active {
    color: var(--filled-button-text);
    background-color: var(--filled-button-container);
    border: var(--border-width) solid var(--filled-button-container);
  }
}
