.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline-color: var(--primary);
  }

  &:hover > .neutral {
    background-color: var(--tertiary-button-hover);
  }
  &:active > .neutral {
    background-color: var(--tertiary-button-press);
  }
  &:focus > .neutral {
    background-color: var(--tertiary-button-hover);
  }
}

.btn-sm {
  padding: 4px 8px;
}

.btn-lg {
  padding: 14px;
}

.btn-icon {
  --icon-size: var(--icon-sm);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: var(--icon-size);
  width: var(--icon-size);
  padding: 0;
}

.btn-default {
  border-radius: var(--rounded-sm);
  font-weight: 500;
}

.neutral {
  &:hover {
    background-color: var(--neutral-hover);
  }
  &:active {
    background-color: var(--neutral-press);
  }
}

.tertiary {
  color: var(--tertiary-button-content);
  &:hover {
    background-color: var(--tertiary-button-hover);
  }
  &:active {
    background-color: var(--tertiary-button-press);
  }
}

.destructive {
  color: var(--error-button-content);
  &:hover {
    background-color: var(--error-button-hover);
  }
  &:active {
    background-color: var(--error-button-press);
  }
}

.primary {
  background: var(--filled-button-container);
  color: var(--filled-button-text);
  &:hover {
    background-color: var(--filled-button-hover);
  }
  &:active {
    background-color: var(--filled-button-press);
  }
  &:disabled {
    background-color: var(--filled-button-disabled-container);
    color: var(--filled-button-disabled-text);
  }
}
