.button {
  @apply rounded-lg p-[14px] text-sm font-semibold w-auto;
}

.icon {
  --icon-size: 48px;
  @apply rounded-full w-[var(--icon-size)] h-[var(--icon-size)] text-[calc(var(--icon-size)/2)]  font-semibold flex justify-center items-center flex-shrink-0;
}

.button__withTextUnderIcon {
  @apply font-normal flex flex-col justify-center items-center text-sm w-full;
  div:last-child {
    @apply bg-transparent mt-[6px];
  }
}

.text__primary {
  @apply text-sm font-semibold border-none;
}

.primary {
  background: var(--filled-button-container);
  color: var(--filled-button-text);
  &:hover {
    background-color: var(--filled-button-hover);
  }
  &:active {
    background-color: var(--filled-button-press);
  }
  &:disabled {
    background-color: var(--filled-button-disabled-container);
    color: var(--filled-button-disabled-text);
  }
}

.tonal {
  @apply bg-purple-600 bg-opacity-20 text-purple-600 text-opacity-90;
}

.delete {
  color: var(--error-button-content);
  &:hover {
    background-color: var(--error-button-hover);
  }
  &:active {
    background-color: var(--error-button-press);
  }
}

.dark {
  @apply bg-[#111825] text-[#D0D5DD];
}

.none {
  @apply bg-transparent text-current rounded-none p-0 w-auto;
}
