.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  --position: 0px;
  position: fixed;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  overflow: auto;
  width: 100%;
  height: auto;
  bottom: var(--position);
  transform: translateY(var(--position));
  @apply rounded-b-none rounded-t-2xl max-h-[85vh];
  @media (min-width: 768px) {
    @apply rounded-[28px];
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.innerContent {
  @apply max-h-[85vh] h-full overflow-auto p-6;
}

.buttons {
  --position: 0px;
  bottom: var(--position);
  transform: translateY(var(--position));
  @apply flex gap-4 fixed  w-full p-4 left-0 bg-white border-t justify-end;
}

.title {
  @apply text-2xl font-medium text-[#6941C6] pb-4;
}

.fieldset {
  @apply flex flex-col gap-2;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.toggleGroup {
  @apply flex flex-col text-base gap-2;
}

.toggleButton {
  @apply border border-[#D0D5DD] rounded-lg p-4 text-left flex gap-3;
  input[type="checkbox"] {
    @apply mt-[2px] h-5 w-5 rounded checked:bg-purple-100 border checked:border-purple-600;
  }

  label {
    @apply font-medium;
  }
  div {
    @apply text-[#667085];
  }
  &.active {
    @apply border-[#D6BBFB] bg-[#F9F5FF];
    label {
      @apply text-[#53389E];
    }
  }
}
